#comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment {
    color: $color-light;
    background-color: $color-primary;
    border-radius: 0.5rem;
    padding: 2rem;
}

//Reviewer
.commenter-details {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.avatar {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.commenter-title {
    color: $color-secondary;
}

.name,
.commenter-title,
.comment-content {
    font-size: $font-size-sm;
}

@media (min-width: 1440px) {
    #comments {
        flex-direction: row;
        gap: 2rem;
    }

    .comment {
        position: relative;
        padding: 2.5rem 2rem;
    }

    .comment:nth-child(2) {
        top: 1rem;
    }

    .comment:nth-child(3) {
        top: 2rem;
    }
}