#main-text {
    text-align: center;
    margin-top: 3rem;
    color: $color-primary;
}

.main-title {
    line-height: 1;
    margin-bottom: 1.5rem;
}

.lead-paragraph {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

@media (min-width: 1440px) {
    #main-text {
        margin-top: 0.25rem;
        text-align: left;
    }

    .main-title {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .lead-paragraph {
        font-size: 15px;
        letter-spacing: 0;
    }
}