#main-text {
    text-align: center;
    margin-top: 3rem;
}

.main-title {
    color: $color-primary;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.lead-paragraph {
    font-size: 13px;
    letter-spacing: 0.5px;
}