@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

//Colors
$color-primary: hsl(300, 43%, 22%);
$color-secondary: hsl(333, 80%, 67%);
$color-dark: rgb(247, 242, 248);
$color-light: hsl(300, 24%, 96%);
$color-white: white;

//Font Family
$font-family: 'Spartan',
sans-serif;

//Font Size
$font-size: 15px;